<div class="container">
    <form (ngSubmit)="onSave()" #empform="ngForm"> <!--  #empform="ngForm"  (refer your form this tag)-->
        <div class="mb-3">
            <label for="empId" class="form-label">Employee Id</label>
            <input type="number" class="form-control" id="empId" name="empId" [(ngModel)]="emp.empId" required
                #empId="ngModel">

            <!-- {{empId.errors | json}} --> <!--  #empId(given any name )="ngModel">-->
            <div class="alert alert-danger" *ngIf="empId.dirty && empId.invalid">
                Please Enter Your Employee Id
            </div>
        </div>

        <div class="mb-3">
            <label for="empName" class="form-label">Employee Name</label>
            <input type="text" class="form-control" id="empName" name="empName" [(ngModel)]="emp.empName" required
                #empName="ngModel" pattern="^[A-Za-z]{3,} [A-Za-z]{3,}$">
        </div>

        <div class="alert alert-danger" *ngIf="empName.dirty && empName.invalid">
            <span *ngIf="empName.errors?.['required']">
                Please Enter Your Name
            </span>
            <span *ngIf="empName.errors?.['pattern']">
                Please Enter Your Full Name(Firstname Lastname)
            </span>
        </div>

        <div class="mt-3">
            <label for="empSalary" class="form-label">Employee Salary</label>
            <input type="number" class="form-control" id="empSalary" name="empSalary" [(ngModel)]="emp.empSalary"
                required min="10000" #empSalary="ngModel">
            <div class="alert alert-danger" *ngIf="empSalary. invalid && empSalary.dirty">
                <span *ngIf="empSalary.errors?.['required']">
                    Enter Employee Salary
                </span>
                <span *ngIf="empSalary.errors?.['min']">
                    Employee Salary must be greater than 10000
                </span>
            </div>
        </div>



        <div class="mt-3">
            <label for="empDOB" class="form-label">Employee Birth Date</label>
            <input type="date" class="form-control" [(ngModel)]="emp.empDOB" required #empDOB="ngModel">
        </div>


        <div class="mt-3">
            <label for="empImage" class="form-label">Employee Image URL</label>
            <input type="text" class="form-control" name="empImage" id="empImage" [(ngModel)]="emp.empImage" required #empImage="ngModel">
        </div>
        <div class="alert alert-sucesses" *ngIf="empImage.dirty && empImage.invalid">Image</div>
       
       
        <div class="mt-3">
            <label for="empDept">Employee Department</label>
            <select class="form-select" name="empDept" [(ngModel)]="emp.empDept">
                <option value="Admin">Admin</option>
                <option value="HR">HR</option>
                <option value="Developer">Developer</option>
            </select>
        </div>






        <input [disabled]="empform.invalid" type="submit" value="save" class="btn btn-outline-success m-2">
    </form>
</div>